<p id="jmluser"></p>
<script src="/socket.io/socket.io.js"></script>  
<script>  
    var socket = io.connect('/');
	/** server to client
	socket.on('pengumuman', (data) => {
		console.log('Dapat pengumuman: ', data.msg);
	});
	*/
	
	/** client to server
	socket.emit('kirim', {msg: 'Pesan dari client to server'});
	*/

	//counting user
	socket.on('statsuser', function(data) {
		document.getElementById('jmluser').innerHTML = data.jmlUser;
       	 console.log('Connected clients:', data.jmlUser);
	});	
</script>
